.cover {
  width: 75%;
  background-color: rgb(33, 176, 184);
  position: relative;
  bottom: 100px;
  margin-left: 100px;
  color: #ffff;
}
.home {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  bottom: 150px;
  margin-left: 500px;
  color: rgb(33, 176, 184);
}
.msg {
  color: rgb(33, 176, 184);
}
.img {
  width: 40%;
  height: 405px;
}
.text {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  width: 35%;
  position: absolute;
  margin-left: 500px;
  bottom: 2px;
}
/* media query */
 @media (max-width: 820px) {
  .home {
    position: relative;
    bottom: 180px;
    margin-left: 80px;
    text-align: center;
  }
  .about {
    margin-left: -60px;
    width: 100%;
    font-size: x-large;
  }
 
  .text {
   
    font-size: xx-small;
    width: 40%;
    margin-left: 190px;
    bottom: 3px;
  }
  .cover {
    margin-left: 30px;
    width: 88%;
   
  }
  .new{
    font-size: small;
  }
  .img {
    width: 44%;
    height: 220px;
  }
  
}
@media (width: 360px){
    .text {
        width: 40%;
        margin-left: 170px;
        bottom: 3px;
      }
      .cover {
        margin-left: 30px;
        width: 88%;
       
      }
      .img {
        height: 240px;
      }
}
@media (width: 375px) {
  .text {
   font-size: small;
    width: 50%;
    margin-left: 130px;
    bottom: 1px;
  }
  .cover {
    margin-left: 20px;
    width: 82%;
   
  }
  .np{
    font-size: xx-small;
  }
  .new{
    text-align: center;
    font-size: x-small;
  }
  .img {
    width: 40%;
    height: 210px;
  }
  .home {
    font-size: x-small;
    position: relative;
    bottom: 120px;
    margin-left: 100px;
    
  }
  .about {
    margin-right: 900px;
    font-size: large;
  }
}
@media (width: 360px) {
  
 
  .home {
    font-size: x-small;
    position: relative;
    bottom: 120px;
    margin-left: 120px;
    
  }
  .about {
    font-size: medium;
  }
}
@media (width: 412px) {
  
 
  .home {
    font-size: x-small;
    position: relative;
    bottom: 120px;
    margin-left: 120px;
    
  }
  .about {
    font-size: medium;
  }
  .text {
   font-size: small;
    width: 50%;
    margin-left: 150px;
    bottom: 1px;
  }
  .cover {
    margin-left: 20px;
    width: 82%;
   
  }
  .np{
    font-size: x-small;
  }
  .new{
    text-align: center;
    font-size: x-small;
  }
  .img {
    width: 40%;
    height: 220px;
  }
}

@media (width: 393px) {
  
  .img {
    width: 50%;
    height: 250px;
  }
  .home {
    font-size: x-small;
    position: relative;
    bottom: 120px;
    margin-left: 120px;
    
  }
  .about {
    font-size: small;
  }
  .text {
    text-align: left;
    font-size: small;
     width: 48%;
     margin-left: 190px;
     bottom: 2px;
   }
   .cover{
    margin-left: 10px;
    width: 95%;
   }
}

@media (width: 390px) {
  
 
  .home {
    font-size: x-small;
    position: relative;
    bottom: 120px;
    margin-left: 120px;
    
  }
  .about {
    font-size: medium;
  }
}
@media (width: 414px) {
  .text {
   font-size: small;
    width: 50%;
    margin-left: 150px;
    bottom: 1px;
  }
  .cover {
    margin-left: 20px;
    width: 82%;
   
  }
  .np{
    font-size: x-small;
  }
  .new{
    text-align: center;
    font-size: x-small;
  }
  .img {
    width: 40%;
    height: 220px;
  }
  .home {
    font-size: x-small;
    position: relative;
    bottom: 120px;
    margin-left: 100px;
    
  }
  .about {
    margin-right: 900px;
    font-size: large;
  }
}

@media (width: 768px) {
  .home {
    position: relative;
    bottom: 110px;
    margin-left: 200px;
    text-align: center;
  }
  .about {
    text-align: center;
    margin-left: -190px;
    width: 100%;
    font-size: xx-large;
  }
  /* cover */
  .text {
   
    font-size: medium;
    width: 50%;
    margin-left: 300px;
    bottom: 30px;
  }
  .cover {
    margin-left: 80px;
    width: 82%;
   
  }
  .new{
    font-size: larger;
  }
  .img {
    width: 40%;
    height: 320px;
  }
}

@media (width: 1024px) {
    /* cover */
    
    .text {
   
      font-size: larger;
      width: 45%;
      margin-left: 350px;
      bottom: 5px;
    }
  .home {
 margin-top: 60px;
    margin-left: 380px;
    text-align: center;
  }
  .about {
    text-align: center;
    margin-left: -220px;
    width: 100%;
    font-size: xx-large;
  }
}

@media (width: 540px) {
  .home {
    position: relative;
    bottom: 150px;
    margin-left: 200px;
    text-align: center;
  }
  .about { 
    text-align: center;
    margin-left: -90px;
    width: 100%;
    font-size: xx-large;
  }
  .text {
   
    font-size: small;
    width: 40%;
    margin-left: 260px;
    bottom: 15px;
  }
  .cover {
    margin-left: 40px;
    width: 90%;
   
  }
  .new{
    font-size:small;
  }
  .img {
    width: 50%;
    height: 320px;
  }
}
@media (width: 912px) {
  .home {
    position: relative;
    bottom: 80px;
    margin-bottom: 90px;
    margin-left: 330px;
    text-align: center;
  }
  .about {
    text-align: center;
    margin-left: -190px;
    width: 100%;
    font-size: xx-large;
  }
   /* cover */
   .text {
   
    font-size: medium;
    width: 45%;
    margin-left: 380px;
    bottom: 50px;
  }
  .cover {
    margin-left: 100px;
    width: 80%;
   
  }
  .new{
    font-size:x-large;
  }
  .img {
    width: 50%;
    height: 400px;
  }
}
@media (width: 280px) {
  p{
    width: 55%;
    font-size: xx-small;
  }
  .text {
   
    font-size: xx-small;
    width: 100%;
    margin-left: 115px;
    top: 5px;
    bottom: 10px;
  }
  .cover {
    font-size: xx-small;
    margin-left: 10px;
    width: 95%;
   
  }
  .new{
    font-size: xx-small;
  }
  .img {
    width: 40%;
    height: 180px;
  }
}
@media (width: 820px) {
  .home {
    position: relative;
    bottom: 100px;
    margin-left: 250px;
    text-align: center;
  }
  .about {
    text-align: center;
    margin-left: -190px;
    width: 100%;
    font-size: xx-large;
  }
   /* cover */
   .text {
   
    font-size: medium;
    width: 45%;
    margin-left: 350px;
    bottom: 50px;
  }
  .cover {
    margin-top: 50px;
    margin-left: 80px;
    width: 80%;
   
  }
  .new{
    font-size:x-large;
  }
  .img {
    width: 50%;
    height: 400px;
  }
}

