.cover {
  width: 75%;
  background-color: rgb(33, 176, 184);
  position: relative;
  bottom: 100px;
  margin-left: 100px;
  color: #ffff;
}
.home {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  bottom: 150px;
  margin-left: 500px;
  color: rgb(33, 176, 184);
}
.msg {
  color: rgb(33, 176, 184);
}
.img {
  width: 40%;
  height: 405px;
}
.text {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  width: 35%;
  position: absolute;
  margin-left: 500px;
  bottom: 2px;
}
/* media query */
@media (max-width: 480px){
  .cover {
    width: 100%;
    position: relative;
    bottom: 600px;
    margin-left: 1px;
  }
  .home {
    position: relative;
    bottom: 100px;
    margin-left: 30px;
    
  }
}