.btn {border-bottom: rgb(33, 176, 184);
  background-color: rgb(33, 176, 184);
}
.img {
  width: 80%;
  height: 500px;
}

.container {
  display: flex;
  flex-direction: row;
}

.aesthetics {
  width: 80;
  background-color: rgb(33, 176, 184);
  color: aliceblue;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}
li {
  font-size: large;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}
.tittle {
  color: rgb(33, 176, 184);
}
.mbg {
  color: rgb(33, 176, 184);
}
@media (max-width: 765px){
  .img {
    width: 80%;
    height: 300px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .aesthetics {
    margin-top: 20px;
    width: 80%;
    font-size: xx-small;
   
  }
}
@media (min-width: 766px){
  .img {
    width: 80%;
    height: 400px;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .aesthetics {
    width: 30%;
    font-size: medium;
   
  }
}